<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%5p %12.12c{11}:%4L - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="example" level="info"/>

	<root level="error">
		<appender-ref ref="console"/>
	</root>

</configuration>
